<div style="text-align:center">
<form  (ngSubmit)="register(registerForm.value)" [formGroup]="registerForm"   >
  <p> 
     <md-input-container class="example-full-width">
      <input mdInput placeholder="Username" maxlength="10" name="username"  formControlName="username">
      <md-hint ></md-hint>
    </md-input-container>
    </p>
    <p>  
      <md-input-container>
          <input mdInput  placeholder="Password" type="password" name="password" formControlName="password" >
      </md-input-container>
    
      <md-input-container>
          <input mdInput placeholder="Confirm Password" type="password" name="password_confirmation" formControlName="password_confirmation" >
      </md-input-container>
    </p>
    <p>  
      <md-input-container>
        <input mdInput placeholder="Email" name="email" formControlName="email" >
      </md-input-container>
    </p>
        <p>  
      <md-input-container>
        <input mdInput #telephone placeholder="Telephone"  pattern="^\d{4}-\d{3}-\d{4}$"  >
      </md-input-container>
    </p>
      <div  class="button-row">
      <button [disabled]="!registerForm.valid"    md-raised-button >Register</button>
    </div>
  </form>

    <p>
      <button md-button routerLink="">Back</button> 
    </p>
    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />


</div>

  <div *ngIf=" !username; else regi">
   Quando for valido 
  </div> 

  
